[submodule "day-70/story"]
	path = day-70/story
	url = https://github.com/MomchilKolev/story
[submodule "day-70/Project"]
	path = day-70/Project
	url = https://github.com/MomchilKolev/Project
[submodule "day-70/Test"]
	path = day-70/Test
	url = https://github.com/MomchilKolev/Test
